prototype/PDS4_LRO_1C00_1000.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Name Space Id:lro  Version:1.0.0.0 - Thu Jan 09 12:28:44 CST 2020 -->
  <!-- Generated from the PDS4 Information Model Version 1.12.0.0 - System Build 9b -->
  <!-- *** This PDS4 product schema is an operational deliverable. *** -->
  <!--                                                                           -->
  <!--               Dictionary Stack                                            -->
  <!-- 1.12.0.0 - pds: - Common Dictionary - N/A                                 -->
  <!-- 1.0.0.0 - lro: - LRO - ldd-lro-1c00.xml                                   -->
  <!--                                                                           -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/pds4/mission/lro/v1"
    xmlns:lro="http://pds.nasa.gov/pds4/mission/lro/v1"
    xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0.0.0">
 
    <xs:import namespace="http://pds.nasa.gov/pds4/pds/v1" schemaLocation="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1C00.xsd"/>
 
  <xs:annotation>
    <xs:documentation>

        The LRO dictionary contains classes that describe aspects of the 
        Lunar Reconnaissance Orbiter mission and related instruments.
        
        LRO version 1.0.0.0
        PDS Build 1.12.0.0 (1C00)
        LDDTool version 9.1.0
        
        Created with lddtool -plMs ldd-lro-1d00.xml
    
    </xs:documentation>
  </xs:annotation>
 
  <xs:element name="LRO_Parameters" type="lro:LRO_Parameters"> </xs:element>

  <xs:complexType name="LROC_Parameters">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="upload_id" type="lro:upload_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="rationale_desc" type="lro:rationale_desc" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="data_quality_id" type="lro:data_quality_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="data_quality_desc" type="lro:data_quality_desc" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="begin_temperature_scs" type="lro:begin_temperature_scs" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="middle_temperature_scs" type="lro:middle_temperature_scs" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="end_temperature_scs" type="lro:end_temperature_scs" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="begin_temperature_fpa" type="lro:begin_temperature_fpa" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="middle_temperature_fpa" type="lro:middle_temperature_fpa" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="end_temperature_fpa" type="lro:end_temperature_fpa" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="begin_temperature_scs_raw" type="lro:begin_temperature_scs_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="middle_temperature_scs_raw" type="lro:middle_temperature_scs_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="end_temperature_scs_raw" type="lro:end_temperature_scs_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="begin_temperature_fpa_raw" type="lro:begin_temperature_fpa_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="middle_temperature_fpa_raw" type="lro:middle_temperature_fpa_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="end_temperature_fpa_raw" type="lro:end_temperature_fpa_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="preroll_time" type="lro:preroll_time" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_preroll_count" type="lro:spacecraft_clock_preroll_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="frame_id" type="lro:frame_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_scs" type="lro:temperature_scs" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_fpa" type="lro:temperature_fpa" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_fpga" type="lro:temperature_fpga" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_telescope" type="lro:temperature_telescope" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_scs_raw" type="lro:temperature_scs_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_fpa_raw" type="lro:temperature_fpa_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_fpga_raw" type="lro:temperature_fpga_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="temperature_telescope_raw" type="lro:temperature_telescope_raw" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="exposure_code" type="lro:exposure_code" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="interframe_delay" type="lro:interframe_delay" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_mode_id" type="lro:instrument_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="lookup_table_type" type="lro:lookup_table_type" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="line_exposure_duration" type="lro:line_exposure_duration" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="line_exposure_code" type="lro:line_exposure_code" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="dac_reset_level" type="lro:dac_reset_level" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="channel_a_offset" type="lro:channel_a_offset" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="channel_b_offset" type="lro:channel_b_offset" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="compand_code" type="lro:compand_code" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="line_code" type="lro:line_code" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="bterm1" type="lro:bterm1" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="bterm2" type="lro:bterm2" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="bterm3" type="lro:bterm3" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="bterm4" type="lro:bterm4" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="bterm5" type="lro:bterm5" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mterm1" type="lro:mterm1" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mterm2" type="lro:mterm2" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mterm3" type="lro:mterm3" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mterm4" type="lro:mterm4" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mterm5" type="lro:mterm5" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="xterm1" type="lro:xterm1" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="xterm2" type="lro:xterm2" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="xterm3" type="lro:xterm3" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="xterm4" type="lro:xterm4" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="xterm5" type="lro:xterm5" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="compression_flag" type="lro:compression_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mode" type="lro:mode" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="nframes" type="lro:nframes" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="band_code" type="lro:band_code" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="interframe_gap_code" type="lro:interframe_gap_code" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="background_offset" type="lro:background_offset" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="lro:frame_id = ('LEFT', 'RIGHT')"/> -->
    <!-- <xs:assert test="lro:instrument_mode_id = ('BW', 'COLOR', 'UV', 'VIS')"/> -->
    <!-- <xs:assert test="lro:lookup_table_type = ('STORED')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="LRO_Parameters">
    <xs:annotation>
      <xs:documentation>The LRO_Parameters class is the container for
        mission-specific metadata elements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="product_type" type="lro:product_type" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="product_version_id" type="lro:product_version_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="orbit_number" type="lro:orbit_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mission_phase_name" type="lro:mission_phase_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_count_partition" type="lro:spacecraft_clock_count_partition" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_start_count" type="lro:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_stop_count" type="lro:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="producer_institution_name" type="lro:producer_institution_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="LROC_Parameters" type="lro:LROC_Parameters" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="lro:product_type = ('CDR', 'EDR', 'RDR')"/> -->
    <!-- <xs:assert test="lro:mission_phase_name = ('COMMISSIONING', 'CRUISE', 'EXTENDED SCIENCE MISSION', 'LAUNCH', 'LUNAR ORBIT ACQUISITION', 'NOMINAL MISSION', 'SCIENCE MISSION', 'SECOND EXTENDED SCIENCE MISSION', 'THIRD EXTENDED SCIENCE MISSION')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

    <xs:annotation>
      <xs:documentation>This section contains the simpleTypes that provide more constraints
        than those at the base data type level. The simpleTypes defined here build on the base data
        types. This is another component of the common dictionary and therefore falls within the
        common namespace.
      </xs:documentation>
    </xs:annotation>

  <xs:simpleType name="background_offset">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="band_code">
    <xs:annotation>
      <xs:documentation>The band_code records the commanded band code
        for a WAC observation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="begin_temperature_fpa_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="begin_temperature_fpa">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:begin_temperature_fpa_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="begin_temperature_fpa_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="begin_temperature_scs_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="begin_temperature_scs">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:begin_temperature_scs_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="begin_temperature_scs_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bterm1">
    <xs:annotation>
<xs:documentation>NAC companding bterm 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bterm2">
    <xs:annotation>
<xs:documentation>NAC companding bterm 2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bterm3">
    <xs:annotation>
<xs:documentation>NAC companding bterm 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bterm4">
    <xs:annotation>
<xs:documentation>NAC companding bterm 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bterm5">
    <xs:annotation>
<xs:documentation>NAC companding bterm 5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="channel_a_offset">
    <xs:annotation>
      <xs:documentation>Records the commanded NAC channel A offset for
        either the NAC LEFT or NAC RIGHT.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="channel_b_offset">
    <xs:annotation>
      <xs:documentation>Records the commanded NAC channel B offset for
        either the NAC LEFT or NAC RIGHT.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="compand_code">
    <xs:annotation>
      <xs:documentation>Indicates which stored companding table was used
        (0-7)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="7"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="compression_flag">
    <xs:annotation>
      <xs:documentation>Indicates if lossless compression was commanded
        (0=no, 1=yes)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="1"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dac_reset_level">
    <xs:annotation>
      <xs:documentation>Records the commanded DAC reset level for either
        the NAC LEFT or NAC RIGHT.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="data_quality_desc">
    <xs:annotation>
      <xs:documentation>The data_quality_desc attribute describes the
        data qualities associated with a data_quality_id attribute.
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Text_Collapsed">
     <xs:minLength value="1"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="data_quality_id">
    <xs:annotation>
      <xs:documentation>The data_quality_id attribute provides a numeric
        key which identifies the quality of data available for a
        particular time period. The data_quality_id scheme is unique to
        a given instrument and is described by the associated
        data_quality_desc attribute. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="end_temperature_fpa_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="end_temperature_fpa">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:end_temperature_fpa_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="end_temperature_fpa_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="end_temperature_scs_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="end_temperature_scs">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:end_temperature_scs_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="end_temperature_scs_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="exposure_code">
    <xs:annotation>
      <xs:documentation>Records the commanded exposure code for a WAC
        observation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="frame_id">
    <xs:annotation>
      <xs:documentation>For NAC, records if the image was acquired from
        the "LEFT" or "RIGHT" NAC.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="instrument_mode_id">
    <xs:annotation>
      <xs:documentation>Records the commanded WAC mode: BW, COLOR, VIS
        or UV.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="interframe_delay_WO_Units">
    <xs:annotation>
      <xs:documentation>Set to the value of the interframe delay between
        WAC framelets. Keyword can have values between 25/64 and 280/64
        seconds, in 1/64 seconds increments.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="interframe_delay">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:interframe_delay_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="interframe_gap_code">
    <xs:annotation>
      <xs:documentation>Records the commanded interframe gap code for a
        WAC observation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="line_code">
    <xs:annotation>
      <xs:documentation>Records the commanded value for the number of
        NAC lines to acquire, in 1024 increments. (LINES = LINES_CODE *
        1024)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="line_exposure_code">
    <xs:annotation>
      <xs:documentation>Index range from 0 to 4095 each corresponding to
        one LINE_EXPOSURE_DURATION increment.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="4095"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="line_exposure_duration_WO_Units">
    <xs:annotation>
      <xs:documentation> For NAC products, LINE_EXPOSURE_DURATION can
        have values between 337.6 and 35,281.6 microseconds, in 128/15
        microsecond increments (LINE_EXPOSURE_DURATION =
        [LINE_EXPOSURE_CODE * 128/15] + 337.6) </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="line_exposure_duration">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:line_exposure_duration_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="lookup_table_type">
    <xs:annotation>
<xs:documentation>Always set to STORED.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="middle_temperature_fpa_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="middle_temperature_fpa">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:middle_temperature_fpa_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="middle_temperature_fpa_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="middle_temperature_scs_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="middle_temperature_scs">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:middle_temperature_scs_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="middle_temperature_scs_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mission_phase_name">
    <xs:annotation>
      <xs:documentation> The mission_phase_name attribute provides the
        mission-defined name of a time period within the mission.
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mode">
    <xs:annotation>
      <xs:documentation>Set to the mode value as commanded for both NAC
        and WAC observations.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mterm1">
    <xs:annotation>
<xs:documentation>NAC companding mterm 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mterm2">
    <xs:annotation>
<xs:documentation>NAC companding mterm 2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mterm3">
    <xs:annotation>
<xs:documentation>NAC companding mterm 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mterm4">
    <xs:annotation>
<xs:documentation>NAC companding mterm 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mterm5">
    <xs:annotation>
<xs:documentation>NAC companding mterm 5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nframes">
    <xs:annotation>
      <xs:documentation>Records the commanded number of frames for a WAC
        observation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="orbit_number">
    <xs:annotation>
      <xs:documentation>The orbit_number attribute identifies the number
        of the orbital revolution around a target body.
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="preroll_time">
    <xs:annotation>
      <xs:documentation>The UTC time and date at the start of the image
        acquisition command, corresponding to the acquisition of 1024
        lines at the given exposure prior to the actual image
        acquisition. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Date_Time_YMD">
  <!-- format="YYYY-MM-DDTHH:MM:SS.SSSSSS(Z)" -->
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="producer_institution_name">
    <xs:annotation>
      <xs:documentation>The producer_institution_name attribute
        identifies a university, research center, NASA center, or other
        institution associated with the production of a data product.
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="product_type">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="product_version_id">
    <xs:annotation>
      <xs:documentation>The product_version_id attribute identifies the
        version of an individual data product. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rationale_desc">
    <xs:annotation>
      <xs:documentation>The rationale_desc attribute describes the
        rationale for performing a particular
        observation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spacecraft_clock_count_partition">
    <xs:annotation>
      <xs:documentation>The spacecraft_clock_count_partition attribute
        indicates the clock partition active for the
        spacecraft_clock_start_count and spacecraft_clock_stop_count
        attributes. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_NonNegative_Integer">
    	<xs:pattern value='[0-9]+'/>
     <xs:minInclusive value="0"/>
     <xs:maxInclusive value="18446744073709551615"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spacecraft_clock_preroll_count">
    <xs:annotation>
      <xs:documentation>Set to the sclk string for the start of an
        observation preroll acquisition.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
    	<xs:pattern value='([0-9]{1,2}/)?[0-9]{1,10}(:[0-9]{5})?'/>
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spacecraft_clock_start_count">
    <xs:annotation>
      <xs:documentation>The spacecraft_clock_start_count attribute
        provides the value of the spacecraft clock at the beginning of a
        time period of interest. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
    	<xs:pattern value='([0-9]{1,2}/)?[0-9]{1,10}(:[0-9]{5})?'/>
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spacecraft_clock_stop_count">
    <xs:annotation>
      <xs:documentation>The spacecraft_clock_stop_count attribute
        provides the value of the spacecraft clock at the beginning of a
        time period of interest. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
    	<xs:pattern value='([0-9]{1,2}/)?[0-9]{1,10}(:[0-9]{5})?'/>
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="temperature_fpa_WO_Units">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="temperature_fpa">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:temperature_fpa_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="temperature_fpa_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="temperature_fpga_WO_Units">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="temperature_fpga">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:temperature_fpga_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="temperature_fpga_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="temperature_scs_WO_Units">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="temperature_scs">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:temperature_scs_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="temperature_scs_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="temperature_telescope_WO_Units">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="temperature_telescope">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="lro:temperature_telescope_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="temperature_telescope_raw">
    <xs:annotation>
<xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upload_id">
    <xs:annotation>
      <xs:documentation>The upload_id attribute describes a spacecraft
        command set that is associated with the given data
        product.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xterm1">
    <xs:annotation>
<xs:documentation>NAC companding xterm 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xterm2">
    <xs:annotation>
<xs:documentation>NAC companding xterm 2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xterm3">
    <xs:annotation>
<xs:documentation>NAC companding xterm 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xterm4">
    <xs:annotation>
<xs:documentation>NAC companding xterm 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xterm5">
    <xs:annotation>
<xs:documentation>NAC companding xterm 5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Integer">
     <xs:minInclusive value="-9223372036854775808"/>
     <xs:maxInclusive value="9223372036854775807"/>
	   </xs:restriction>
  </xs:simpleType>
</xs:schema>
